@using dog_club.Models
@model IEnumerable<Breed>

@{
    Layout = "_Layout";
    @Html.Partial("_menuProfile")
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Наименование</th>
            <th scope="col">Группа</th>
            <th scope="col"></th>
            <th scope="col"><button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "Breeds")'"><i class="fas fa-plus-circle" title="Добавить запись"></i></button></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var breed in Model)
            {
                <tr>
                    <th scope="row">@breed.id</th>
                    <td>@breed.nameBreed</td>
                    <td>@breed.Group.nameGroup</td>
                    <td>
                        <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("Edit", "Breeds", new { id = breed.id })'">
                            <i class="fas fa-pencil-alt text-primary" title="Редактировать запись"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("Delete", "Breeds", new { id = breed.id })'">
                            <i class="fas fa-trash-alt text-danger" title="Удалить запись"></i>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>