@using dog_club.Models
@model Dog

@{
    Layout = "_Layout";
    @Html.Partial("_menuProfile")
}
<h2>Вы точно хотите удалить?</h2>
<h2>После удаления данноую пароду нельзя будет восстановить</h2>
<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="id" class="form-label">ID</label>
        <input type="number" name="id" asp-for="id" class="form-control" value="@Model.id" disabled>
    </div>

    <div class="mb-3">
        <label asp-for="name" class="form-label">Кличка</label>
        <input type="text" name="name" asp-for="name" class="form-control" value="@Model.name" disabled>
    </div>

    <div class="mb-3">
        <label asp-for="gender" class="form-label">Пол</label>
        <select class="form-select" name="gender" disabled>
            <option value="@Model.gender" selected>@Model.gender</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="BreedId" class="form-label">Порода</label>
        <select class="form-select" name="BreedId" disabled>
            <option value="@Model.BreedId" selected>@Model.Breed.nameBreed</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="OwnerId" class="form-label">Владелец</label>
        <select class="form-select" name="OwnerId" disabled>
            <option value="@Model.OwnerId" selected>@Model.Owner.fullName</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="MotherId" class="form-label">Мать</label>
        <select class="form-select" name="MotherId" disabled>
            @if (Model.MotherId == null)
            {
                <option value="" selected>Не выбрано</option>
            }
            else
            {
                <option value="@Model.MotherId" selected>@Model.Mother.name</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="FatherId" class="form-label">Отец</label>
        <select class="form-select" name="FatherId" disabled>
            @if (Model.FatherId == null)
            {
                <option value="" selected>Не выбрано</option>
            }
            else
            {
                <option value="@Model.FatherId" selected>@Model.Father.name</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="dateBirth" class="form-label">Дата рождения</label>
        <input type="date" name="dateBirth" asp-for="dateBirth" class="form-control" value="@Model.dateBirth" disabled>
    </div>

    <div class="mb-3">
        <label asp-for="dateDeath" class="form-label">Дата смерти</label>
        <input type="date" name="dateDeath" asp-for="dateDeath" class="form-control" value="@Model.dateDeath" disabled>
    </div>

    <div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </div>
            <div class="col col-lg-2">
                <a href="/dogs" class="btn btn-primary stretched-link">Вернуться назад</a>
            </div>
        </div>
    </div>

</form>