@using dog_club.Models
@model User

@{
    Layout = "_Layout";
    @Html.Partial("_menuProfile")
}
<h2>Вы точно хотите удалить?</h2>
<h2>После удаления данного пользователя нельзя будет восстановить</h2>
<form method="post">

    <div class="mb-3">
        <label asp-for="id" class="form-label">ID</label>
        <input type="number" name="id" asp-for="id" class="form-control" value="@Model.id" disabled>
    </div>

    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="userName" class="form-label">Логин</label>
        <input type="text" name="userName" asp-for="userName" class="form-control" value="@Model.userName" disabled>
    </div>

    <div class="mb-3">
        <label asp-for="password" class="form-label">Пароль</label>
        <input type="text" name="password" asp-for="password" class="form-control" value="@Model.password" disabled>
    </div>

    <div class="mb-3">
        <select class="form-select" aria-label="Выберите роль" name="RoleId"  disabled>
            <option value="@Model.id" selected>@Model.Role.name</option>
        </select>
    </div>

    <div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </div>
            <div class="col col-lg-2">
                <a href="/users" class="btn btn-primary stretched-link">Вернуться назад</a>
            </div>
        </div>
    </div>



</form>