@using dog_club.Models
@model Owner

@{
    Layout = "_Layout";
    @Html.Partial("_menuProfile")
}
<h2>Редактирование</h2>
<form method="post">

    <div class="mb-3">
        <label asp-for="id" class="form-label">ID</label>
        <input type="number" name="id" asp-for="id" class="form-control" value="@Model.id" disabled>
    </div>

    <div class="mb-3">
        <label asp-for="fullName" class="form-label">ФИО</label>
        <input type="text" name="fullName" asp-for="fullName" class="form-control" value="@Model.fullName" required>
    </div>

    <div class="mb-3">
        <label asp-for="address" class="form-label">Адрес</label>
        <input type="text" name="address" asp-for="address" class="form-control" value="@Model.address" required>
    </div>

    <div class="mb-3">
        <label asp-for="phone" class="form-label">Телефон</label>
        <input type="text" name="phone" asp-for="phone" class="form-control" value="@Model.phone" required>
    </div>

    <button type="submit" class="btn btn-primary">Изменить</button>
</form>